body {
    min-height: 100vh;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color:#fff ;
    padding: 10px 30px;
    font-size: 0.8rem;
}

.row_top {
    background-color: deepskyblue;
    justify-content: space-between;
}




